<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}家計簿アプリ{% endblock %}</title>
</head>
<body>
    <header>
        <h1>家計簿アプリ（仮）</h1>
            <nav style="margin-bottom: 8px;">
                {% if user.is_authenticated %}
                    <span>{{ user.username }} さんでログイン中</span>
                    |
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="border:none;background:none;color:blue;text-decoration:underline;cursor:pointer;padding:0;">
                            ログアウト
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">ログイン</a>
                {% endif %}
            </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- 子テンプレートがここに内容を挿入する -->
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p style="font-size:12px; color:#666;">© 2025 Yoshimu U. Nats</p>
    </footer>
</body>
</html>
